.search-bar .__wrapper {
    position: relative;
    height: 25px;
}

.search-bar .__search-field {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    color: var(--color-gray);
}

.search-bar .__wrapper::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 3px;
    border: 1px solid var(--color-gray);
    clip-path: inset(90% 0 0 0);

}
