.search-bar {
    position: absolute;
    left: 0;
    bottom: -75px;
    width: 100%;
    padding: 30px 0 10px;
}

.search-bar * {
    transition: all 300ms ease;
}

.search-bar .__wrapper {
    position: relative;
    width: 80%;
    height: 35px;
}

@media (min-width: 768px) {
    .search-bar .__wrapper {
        width: 50%;
    }
}

@media (min-width: 992px) {
    .search-bar .__wrapper {
        width: 40%;
    }
}

@media (min-width: 1200px) {
    .search-bar .__wrapper {
        width: 30%;
    }
}

@media (min-width: 1440px) {
    .search-bar .__wrapper {
        width: 30%;
    }
}

.search-bar span.__field-border {
    position: absolute;
    width: calc(100% - 2px);
    height: calc(100% - 2px);
    border-radius: 10px;
    border: 1px solid var(--color-gray);
    pointer-events: none;
}

.search-bar input.__search-field,
.search-bar span.__placeholder {
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    text-indent: 10px;
}

.search-bar input.__search-field,
.search-bar span.__placeholder,
.search-bar i.__icon {
    color: var(--color-gray);
}

.search-bar input.__search-field {
    position: absolute;
    width: 100%;
    height: 100%;
    background: transparent;
}

.search-bar span.__placeholder {
    line-height: 2.2;
    pointer-events: none;
}

.search-bar i.__icon {
    font-size: 16px;
    padding: 9.5px;
    border-radius: 0 10px 10px 0;
    z-index: 10;
    cursor: pointer;
    border-left: 1px solid var(--color-gray);
}

.search-bar input:focus,
.search-bar i.__icon:hover {
    color: var(--color-yellow);
}

.search-bar i.__icon:hover {
    background: var(--color-black-text);
}

.search-bar input:focus~span.__field-border {
    width: calc(100% - 6px);
    height: calc(100% - 6px);
    border: 3px solid var(--color-yellow);
    animation: clip-path 500ms ease forwards;
}

.search-bar input.__search-field:valid~span.__placeholder,
.search-bar input.__search-field:focus~span.__placeholder {
    visibility: hidden;
}

.search-bar input:focus~i.__icon {
    border: none;
}

.search-bar input:focus~i:hover.__icon {
    background: transparent;
}

.search-bar[data-state="shown"] {
    pointer-events: all;
    animation: fade 1s ease backwards;
}

.search-bar[data-state="shown"] i.__icon {
    animation: rotate 1s ease;
}

.search-bar[data-state="hidden"] {
    animation: fade 1s ease reverse forwards;
    pointer-events: none;
}

.search-bar[data-state="hidden"] i.__icon {
    animation: rotate 1s ease reverse;
}

@keyframes clip-path {
    0% {
        clip-path: inset(0 30% 80% 30%);
    }

    15% {
        clip-path: inset(0 0 80% 0);
    }

    40% {
        clip-path: inset(0 0 25% 0);
    }

    to {
        clip-path: inset(75% 0 0 0);
    }
}

@keyframes rotate {
    from {
        transform: rotate(720deg);
        border-color: transparent;
    }

    to {
        transform: rotate(0);
        border-color: transparent;

    }
}
