:root {
    --color-red: #ff3f3f;
    --color-blue: #00668c;
    --color-yellow: #ffbb00;
    --color-green: #1dc6a7;
    --color-black-nav: #111;
    --color-black-text: #333;
    --color-black-section: #1f1f1f;
    --color-black-text-section: #2f2f2f;
    --color-gray: #a9a9a9;
    --color-white: #fff;

    --navbar-back-open-shadow: rgba(17, 17, 17, 0.95);

    --phone-max: 767px;
    --tablet-min: 768px;
    --tablet-max: 991px;
    --desktop-min: 992px;
    --desktop-max: 1199px;
    --desktop-larger: 1200px;
}

@import url("https://fonts.googleapis.com/css?family=Josefin+Slab&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap");

@font-face {
    font-family: Clarendon;
    src: url(./../fonts/clarendon.otf);
    font-weight: 400;
}

@font-face {
    font-family: Clarendon;
    src: url(./../fonts/clarendon-black-bt.ttf);
    font-weight: bold;
}

* {
    text-decoration: none;
    list-style: none;
    color: inherit;
    padding: 0;
    margin: 0;
    outline: 0;
    border: none;
}

.clarendon {
    font-family: "Clarendon";
}

.clarendon.blk {
    font-weight: bold;
}

.content {
    max-width: 425px;
    padding: 0 20px;
    margin: 0 auto;
}

@media (min-width: 768px) {
    .content {
        max-width: 768px;
        padding: 0 30px;
    }
}

@media (min-width: 992px) {
    .content {
        max-width: 992px;
        padding: 0 40px;
    }
}

@media (min-width: 1200px) {
    .content {
        max-width: 1200px;
        padding: 0 50px;
    }
}

.flex {
    display: flex;
}

.flex.__column {
    flex-direction: column;
}

.flex.__a-center {
    align-items: center;
}

.flex.__j-center {
    justify-content: center;
}

.flex.__j-between {
    justify-content: space-between;
}

@keyframes fade {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
