.home {
    position: relative;
    height: 100vh;
    width: 100vw;
    min-height: 600px;
    background-image: url("./../images/backgrounds/background@768.jpg");
    background-repeat: no-repeat, no-repeat;
    background-position: center center;
    background-size: cover;
}
.home::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: var(--navbar-back-open-shadow);
    z-index: 1;
}

.home__wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    /* width: 100%; */
    z-index: 2;
}

.home__logo {
    margin-bottom: 30px;
}

.home__logo p {
    color: var(--color-white);
    font-size: 18px;
}

.home__logo,
.home__segments {
    text-align: center;
}

/* <=< Define o tamanho do logo >=> */
.home__logo .logo a svg {
    width: 100px;
}

.home__logo .logo a .__text span {
    font-size: 48px;
}

.home__logo .logo a .__text {
    display: flex;
    margin-left: -60px;
    margin-bottom: -10px;
}

/* <=< Segmentos >=> */
.home__segments * {
    font-family: "Clarendon";
    font-weight: 400;
    font-size: 24px;
}

.home__segments p,
.home__segments p > span > span {
    color: var(--color-white);
}

.home__segments p > span:first-child {
    color: var(--color-red);
}

.home__segments p > span:nth-child(2) {
    color: var(--color-yellow);
}

.home__segments p > span:nth-child(3) {
    color: var(--color-blue);
}

.home__segments p > span:nth-child(4) {
    color: var(--color-green);
}

.home__see-more {
    margin-top: 50px;
}

@media (min-width: 768px) {
    .home {
        background-image: url("./../images/backgrounds/background@1200.jpg");
    }
}

@media (min-width: 992px) {
    .home {
        background-image: url("./../images/backgrounds/background@1440.jpg");
    }
}

@media (min-width: 1440px) {
    .home {
        background-image: url("./../images/backgrounds/background@1920.jpg");
    }
}
