body.active::before {
  content: "";
  display: block;
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(17, 17, 17, 0.85);
}

header.header {
  position: fixed;
  padding-top: 10px;
  padding-bottom: 10px;
  display: grid;
  background: #111;
  grid-template-columns: repeat(2, 1fr);
}

header.header-top {
  padding-top: 40px;
  background: linear-gradient(#111111 0%, transparent 100%);
  animation: navbarEffect ease 1s;
}

header.header>div {
  width: 80%;
}

header.header>div.logo {
  text-align: center;
}

/*<=<** === NAVBAR CSS === **>=>*/

nav.navbar {
  position: fixed;
  display: none;
  width: 100%;
  margin-top: 54px;
  right: 0;
}

nav.navbar.collapse {
  display: block;
}

nav.navbar>ul {
  display: flex;
  flex-direction: column;
}

nav.navbar ul li {
  font-size: 18px;
  font-weight: 700;
  color: #FFF;
  /* margin: 15px 30px; */
  padding: 10px 0;
  text-align: center;
  transition: all ease 500ms;
  /* cursor: pointer; */
}

nav.navbar>ul li:hover {
  /* color: #333; */
  background-color: #FFBB00;
}

/*<=<** === COLLAPSE ICONS CSS === **>=>*/

header.header div.collapse-icons-bar {
  display: flex;
  justify-self: center;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.collapse-icons-bar div.collapse-menu-icon,
.collapse-icons-bar div.collapse-search-bar-icon {
  padding: 0 10px;
  cursor: pointer;
}

/*<=<** === COLLAPSE MENU ICON CSS === **>=>*/

div.collapse-menu-icon>ul {
  display: flex;
  flex-direction: column;
  align-items: center;
}

div.collapse-menu-icon>ul>li {
  background-color: #FFF;
  transition-property: transform, color;
  transition: ease 300ms;
  margin: 4px 0;
}

div.collapse-menu-icon:hover ul>li {
  background-color: #FFBB00;
}

div.collapse-menu-icon>ul>li:first-child,
div.collapse-menu-icon>ul>li:nth-child(3) {
  width: 30px;
  height: 3px;
}

div.collapse-menu-icon>ul>li:nth-child(2) {
  width: 26px;
  height: 2px;
}

div.collapse-menu-icon.close>ul {
  display: block;
}

div.collapse-menu-icon.close>ul>li {
  margin: 0;
}

div.collapse-menu-icon.close>ul>li:first-child {
  transform: translateY(2px) rotate(45deg);
  height: 4px;
}

div.collapse-menu-icon.close>ul>li:nth-child(3) {
  transform: translateY(-2px) rotate(-45deg);
  height: 4px;
}

div.collapse-menu-icon.close>ul>li:nth-child(2) {
  display: none;
}

/*<=<** === COLLAPSE SEARCH BAR ICON CSS === **>=>*/

div.collapse-icons-bar div.collapse-search-bar-icon>ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  transform: rotate(45deg);
}

div.collapse-search-bar-icon>ul>li {
  transition: all ease 300ms;
}

div.collapse-search-bar-icon>ul>li:first-child {
  width: 16px;
  height: 16px;
  border-radius: 10px;
  border: 2px solid #FFF;
}

div.collapse-search-bar-icon>ul:hover li:first-child {
  border-color: #FFBB00;
}

div.collapse-search-bar-icon>ul>li:nth-child(2) {
  width: 12px;
  height: 2px;
  background-color: #FFF;
}

div.collapse-search-bar-icon>ul:hover li:nth-child(2) {
  background-color: #FFBB00;
}


/*<=<** === MEDIA >=992 CSS === **>=>*/

@media (min-width: 992px) {
  header.header {
    grid-template-columns: 1fr 2fr 1fr;
  }

  /* .collapse-icons-bar {
    grid-column: 3 / 4;
  } */

  header.header>div.logo {
    width: 100%;
  }

  nav.navbar {
    position: initial;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    margin-top: 0;
  }

  nav.navbar>ul {
    flex-direction: row;
    align-content: space-around;
  }

  nav.navbar>ul li {
    position: relative;
    margin: 0;
    padding: 10px 15px;
  }

  nav.navbar>ul li:hover {
    color: #FFBB00;
    background-color: transparent;
  }

  nav.navbar>ul li:hover::before,
  nav.navbar>ul li.active::before {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-bottom: 2px solid #FFBB00;
  }

  div.collapse-icons-bar div.collapse-menu-icon {
    display: none;
  }

}

/* VERIFICAR ANIMAÇÃO */

@keyframes navbarEffect {
  10% {
    opacity: 0;
    top: 0;
  }

  25% {
    top: -60px;
  }

  100% {
    opacity: 1;
    top: 0;
  }
}
