/*
Red: FF3F3F
Blue: 00668C
Yellow: FFBB00
Green: 1DC6A7
*/

@import url('https://fonts.googleapis.com/css?family=Josefin+Slab&display=swap');

@font-face {
  font-family: Clarendon;
  src: url(./../fonts/clarendon.otf);
}

@font-face {
  font-family: Clarendon BLK BT;
  src: url(./../fonts/clarendon-black-bt.ttf);
}

* {
  text-decoration: none;
  color: inherit;
}

a,
p,
h1,
h2,
h3,
h4,
h5,
h6,
span {
  font-family: 'Josefin Slab', serif;
}

.container-flex,
.container-grid {
  position: relative;
  padding: 20px;
  width: 100%;
}

.container-flex {
  display: flex;
}

.container-grid {
  display: grid;
}

/* .container-grid .column {
    padding: 20px 10px;
} */

.grid-2 {
  grid-template-columns: repeat(2, 1fr);
}

.grid-3 {
  grid-template-columns: repeat(3, 1fr);
}

/* .container-flex .row {
    width: 100%;
} */


/* Logo */
.logo>a>span {
  font-family: 'Clarendon BLK BT';
  font-size: 24px;
}

.logo>a>span:first-child {
  color: #00668C;
}

.logo>a>span:nth-child(2) {
  color: #FF3F3F;
}

.logo span>span {
  font-family: inherit;
  color: #FFF;
}

.logo:hover span:first-child,
.logo:hover span:nth-child(2) {
  color: #FFF;
}
