@mixin flex($width: 100%, $justify: false, $align: false, $direction: false) {
    display: flex;
    width: $width;
    @if $justify {
        justify-content: $justify;
    }

    @if $align {
        align-items: $align;
    }

    @if $direction {
        flex-direction: $direction;
    }
}

@mixin colorAlpha($color, $alpha) {
    @if $color == "red" {
        color: rgba(255, 63, 63, "#{$alpha}");
    } @else if $color == "blue" {
        color: rgba(0, 102, 140, "#{$alpha}");
    } @else if $color == "yellow" {
        color: rgba(239, 163, 0, "#{$alpha}");
    } @else if $color == "green" {
        color: rgba(29, 198, 167, "#{$alpha}");
    }
}

@mixin prefixProperty($property, $value) {
    $prefixes: "-webkit-", "-moz-", "-ms-", "-o-";
    @each $prefix in $prefixes {
        #{$prefix}#{$property}: $value;
    }
    $property: $value;
}

@mixin prefixValue($property, $value) {
    $prefixes: "-webkit-", "-moz-", "-ms-", "-o-";
    @each $prefix in $prefixes {
        #{$property}: #{$prefix}#{$value};
    }
}

@mixin textBorder($color) {
    text-shadow: 1px 0px 1px $color, -1px 0px 1px $color, 0px 1px 1px $color,
        0px -1px 1px $color;
}
