/* Logo Section */

.logo_wrapper {
    height: 35px;
    cursor: pointer;

    &:hover .component {
        & .logo svg path {
            &.path_1 {
                fill: $blue;
            }

            &.path_2 {
                fill: $red;
            }
        }

        & span {
            @include textBorder($red);
        }
    }
}

.logo-wrapper.hideImage {
    height: auto;

    & .logo {
        display: none;
    }
}

.component,
.logo svg {
    width: auto;
    height: 100%;

    & path {
        fill: $blackText;

        &.path_1 {
            fill: white;
        }
    }
}

.logo+span {
    position: relative;
    left: -38px;
    bottom: 5px;
    width: 100%;
    font-family: Clarendon;
    font-weight: bold;
    padding: 0 5px;
    color: white;
}
